.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
}
.search {
  width: 100%;
  mat-icon {
    margin-right: 10px;
  }
}
.viewMode {
  align-self: flex-end;
}
