<nav>
  <a class="logo" [routerLink]="['/']">
    <img src="assets/logo.png" alt="logo" /> Un-Art Gallery
  </a>
  <div class="user">
    <button mat-icon-button [routerLink]="['/gallery', 'favourites']">
      <i class="fa fa-heart"></i>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
      {{ (user$ | async)?.displayName.split(" ")[0] | titlecase }}
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="onSignOut()">
        <span>Sign Out</span>
      </button></mat-menu
    >
  </div>
</nav>
