@import "~@angular/material/theming";
@import "palette";

$custom-typography: mat-typography-config(
  $font-family: "Balsamiq Sans",
);

@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-primary: mat-palette($md-primary);
$mat-accent: mat-palette($md-accent);

// The warn palette is optional (defaults to red).
$mat-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mat-theme: mat-light-theme($mat-primary, $mat-accent, $mat-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($mat-theme);
