.error-container {
  background-color: rgba(46, 49, 56, 0.7);
  color: white;
  width: 100%;
  position: absolute;
  .logo {
    height: 100px;
    width: 100px;
    justify-self: center;
  }
}
